<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#fcf3e9</string>
	<key>backgroundImage</key>
	<string>bg_theme_sweet.png</string>
	<key>toolbarColor</key>
	<string>#fcd7d7</string>
	<key>toolbarImage</key>
	<string>bg_tool_bar_theme_sweet.png</string>
	<key>navibarColor</key>
	<string>#fcd7d7</string>
	<key>navibarImage</key>
	<string>bg_navi_theme_sweet.png</string>
	<key>themeName</key>
	<string>_fxThemeNameSweet</string>
	<key>mainColor</key>
	<string>#6587c7</string>
	<key>homeNaviBarFileXib</key>
	<string>HomeSweetNaviBarView</string>
	<key>homeToolBarFileXib</key>
	<string>HomeSweetToolBarView</string>
	<key>homeAddShiftFileXib</key>
	<string>AddShiftView</string>
	<key>homeAddScheduleFileXib</key>
	<string>AddScheduleView</string>
</dict>
</plist>
