<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#fcf3e9</string>
	<key>backgroundImage</key>
	<string>bg_theme_sweet.png</string>
	<key>toolbarColor</key>
	<string>#fcd7d7</string>
	<key>toolbarImage</key>
	<string>bg_tool_bar_theme_sweet.png</string>
	<key>navibarColor</key>
	<string>#fcd7d7</string>
	<key>navibarImage</key>
	<string>bg_navi_theme_sweet.png</string>
	<key>themeName</key>
	<string>_fxThemeNameSweet</string>
	<key>mainColor</key>
	<string>#f0897c</string>
	<key>homeNaviBarFileXib</key>
	<string>HomeSweetNaviBarView</string>
	<key>homeToolBarFileXib</key>
	<string>HomeSweetToolBarView</string>
	<key>homeAddShiftFileXib</key>
	<string>AddShiftView</string>
	<key>homeAddScheduleFileXib</key>
	<string>AddScheduleView</string>
	<key>naviTitleColor</key>
	<string>#7B6128</string>
	<key>calendarHeaderColor</key>
	<string></string>
	<key>homeAddShiftButtonColor</key>
	<string>#f8716f</string>
	<key>calendarHeaderImage</key>
	<string>sweet_bg_calendar_header.png</string>
	<key>backButtonImage</key>
	<string>ic_bt_back_2.png</string>
	<key>homeAddScheduleOthers</key>
	<dict>
		<key>button1</key>
		<string>ic_bt_home_add_schedule_step1_sweet.png</string>
		<key>button2</key>
		<string>ic_bt_add_schedule_back_sweet.png</string>
		<key>button3</key>
		<string>ic_bt_save_sweet.png</string>
	</dict>
	<key>barButtons</key>
	<dict>
		<key>back</key>
		<string>ic_bt_back_2.png</string>
		<key>cancel</key>
		<string></string>
		<key>save</key>
		<string></string>
		<key>add</key>
		<string>ic_bt_add_sweet.png</string>
		<key>background</key>
		<string>ic_bg_bar_button_sweet.png</string>
	</dict>
</dict>
</plist>
