<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#fcf3e9</string>
	<key>backgroundImage</key>
	<string></string>
	<key>toolbarColor</key>
	<string>#f29540</string>
	<key>toolbarImage</key>
	<string></string>
	<key>navibarColor</key>
	<string>#f29540</string>
	<key>navibarImage</key>
	<string></string>
	<key>themeName</key>
	<string>_fxThemeNameDefaultOrange</string>
	<key>mainColor</key>
	<string>#f29540</string>
	<key>homeNaviBarFileXib</key>
	<string>HomeNaviBarView</string>
	<key>homeToolBarFileXib</key>
	<string>HomeToolBarView</string>
	<key>homeAddShiftFileXib</key>
	<string>AddShiftView</string>
	<key>homeAddScheduleFileXib</key>
	<string>AddScheduleView</string>
	<key>naviTitleColor</key>
	<string>#ffffff</string>
	<key>calendarHeaderColor</key>
	<string>#f8e0c2</string>
	<key>homeAddShiftButtonColor</key>
	<string>#f29540</string>
	<key>calendarHeaderImage</key>
	<string></string>
	<key>backButtonImage</key>
	<string>ic_bt_back.png</string>
	<key>homeAddScheduleOthers</key>
	<dict>
		<key>button1</key>
		<string>ic_bt_home_add_schedule_step1_orange.png</string>
		<key>button2</key>
		<string>ic_bt_add_schedule_back_orange.png</string>
		<key>button3</key>
		<string>ic_bt_save_orange.png</string>
	</dict>
</dict>
</plist>
