<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScheduleCategory</key>
	<array/>
	<key>Member</key>
	<array>
		<string>A看護師長</string>
		<string>B主任</string>
		<string>C主任</string>
		<string>D主任</string>
		<string>E先輩</string>
		<string>F先輩</string>
		<string>G先輩</string>
		<string>Hさん</string>
		<string>Iさん</string>
		<string>Jさん</string>
		<string>Kさん</string>
		<string>Lさん</string>
	</array>
	<key>ShiftCategory</key>
	<array>
		<array>
			<string>日勤</string>
			<string>08:30</string>
			<string>17:30</string>
			<integer>0</integer>
			<string>color0</string>
		</array>
		<array>
			<string>夜勤</string>
			<string>17:30</string>
			<string>09:00</string>
			<integer>0</integer>
			<string>color1</string>
		</array>
		<array>
			<string>明け</string>
			<string>00:00</string>
			<string>00:00</string>
			<integer>1</integer>
			<string>color2</string>
		</array>
		<array>
			<string>休み</string>
			<string>00:00</string>
			<string>00:00</string>
			<integer>1</integer>
			<string>color3</string>
		</array>
		<array>
			<string>早番</string>
			<string>07:00</string>
			<string>15:00</string>
			<integer>0</integer>
			<string>color4</string>
		</array>
		<array>
			<string>遅番</string>
			<string>13:00</string>
			<string>21:00</string>
			<integer>0</integer>
			<string>color5</string>
		</array>
		<array>
			<string>準夜</string>
			<string>16:30</string>
			<string>01:00</string>
			<integer>0</integer>
			<string>color6</string>
		</array>
		<array>
			<string>深夜</string>
			<string>00:30</string>
			<string>09:00</string>
			<integer>0</integer>
			<string>color7</string>
		</array>
		<array>
			<string>日長</string>
			<string>08:50</string>
			<string>19:30</string>
			<integer>0</integer>
			<string>color8</string>
		</array>
		<array>
			<string>入り</string>
			<string>08:00</string>
			<string>19:30</string>
			<integer>0</integer>
			<string>color9</string>
		</array>
	</array>
</dict>
</plist>
