<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShiftCategory</key>
	<array>
		<string>AA</string>
		<string>BB</string>
		<string>CC</string>
		<string>DD</string>
		<string>EE</string>
		<string>FF</string>
		<string>GG</string>
		<string>II</string>
		<string>KK</string>
		<string>LL</string>
		<string>MM</string>
	</array>
	<key>ScheduleCategory</key>
	<array>
		<string>美容院</string>
		<string>マツエク</string>
		<string>飲み会</string>
		<string>ランチ</string>
		<string>女子会</string>
		<string>デート</string>
		<string>買い物</string>
		<string>病院</string>
		<string>誕生日</string>
		<string>旅行</string>
	</array>
</dict>
</plist>
